/* CSS para o modal de visualização de impressão */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Aumentado para garantir que fique sobre outros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Reduzido para centralizar melhor em várias telas */
    padding: 25px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px; /* Largura máxima para o modal */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#print-content-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 15px;
}

#print-content {
    flex-grow: 1;
    margin-top: 0; /* Removido de #print-content e movido para o wrapper */
    border: none; /* Removido de #print-content e movido para o wrapper */
    padding: 0; /* Removido de #print-content e movido para o wrapper */
    line-height: 1.6;
}

#print-qrcode-container {
    width: 120px;
    height: 120px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#print-qrcode-container img {
    max-width: 100%;
    max-height: 100%;
}


#print-button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#print-button:hover {
    background-color: #45a049;
}


/* Estilos de Impressão */

body.printing-active > *:not(#modal-print-preview-container) {
    display: none !important;
}

body.printing-active #modal-print-preview-container {
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

@media print {
    body {
        background-color: #fff;
    }
    .modal {
        position: relative;
        overflow: visible;
        background-color: transparent;
    }
    .modal-content {
        margin: 0;
        padding: 0;
        border: none;
        width: 100%;
        max-width: 100%;
        box-shadow: none;
        border-radius: 0;
    }

    .close-button, #print-button {
        display: none;
    }

    /* Garante que o conteúdo de impressão use toda a largura */
    #print-content {
        border: none;
        padding: 0;
        margin-top: 0;
    }
}